.opacity_content{
    position: relative;
    top: 25px;
    height: 130px;
    width: 100%;
    background: rgba(171, 166, 166, 0.51);
}

.tur-name p{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding-left: 20px;
}
.stars{
    width: auto;
    height: 20px;
    position: relative;
    top: -25px;
    padding-left: 20px;
}
.stars span{
    color: #fff12d;
}
